/* Global styles */

body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: #fff;
  background-image: url("../images/sun.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #111427;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  color: #ff00a8;
  text-shadow: 0 0 20px #3600ff, 0 0 1px #ffffff, 0 0 10px #001eff, 0 0 10px #1200ff;
}

.btn {
  border-radius: 10px;
  font-family: 'Bungee Shade', cursive;
  background-color: #211531;
  color: #ff00a8;
  text-shadow: 0 0 5px #3600ff, 0 0 1px #0012ff, 0 0 1px #001eff, 0 0 1px #1200ff;
  -webkit-box-shadow: 0 0 50px #3600ff, 0 0 10px #0012ff, 0 0 10px #001eff, 0 0 10px #1200ff;
          box-shadow: 0 0 50px #3600ff, 0 0 10px #0012ff, 0 0 10px #001eff, 0 0 10px #1200ff;
  font-size: 2em;
}

.btn:hover {
  background-color: #211531;
  color: #fff;
  -webkit-box-shadow: 0 0 50px #3600ff, 0 0 10px #0012ff, 0 0 10px #001eff, 0 0 50px #1200ff;
          box-shadow: 0 0 50px #3600ff, 0 0 10px #0012ff, 0 0 10px #001eff, 0 0 50px #1200ff;
}

.blue-shadow-hover:hover {
  text-shadow: 0 0 50px #3600ff, 0 0 10px #0012ff, 0 0 10px #001eff, 0 0 10px #1200ff;
  cursor: pointer;
}

.position-absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

#background-overlay {
  position: absolute;
  min-width: 420px;
  z-index: -1;
  height: 569px;
  left: 0;
  right: 0;
  top: 70px;
  background: rgba(204, 0, 255, 0.22);
  border: 26px solid rgba(0, 102, 255, 0.05);
  border-radius: 50% 50% 0px 5px;
}

/* Header */

#back-and-menu-icons {
  display: inline;
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
}

/* Main menu */

#leaderboard {
  margin-top: 90px;
}

#back-arrow {
  margin-right: 80%;
}

/* Help menu */

#help-menu {
  width: 80%;
  max-width: 400px;
  margin: 200px auto;
}

/* Menu list */

#menu-list {
  top: 280px;
  max-width: 200px;
  margin: auto;
}

/* Game view */

#game-view {
  margin-top: 20px;
}

#game-view-text {
  top: 260px;
}

/* Highlight symbols */
.highlight {
  border-radius: 100%;
  -webkit-box-shadow: inset 0 0 60px rgba(54, 0, 255, 0.5), 0 0 30px rgba(54, 0, 255, 0.5);
          box-shadow: inset 0 0 60px rgba(54, 0, 255, 0.5), 0 0 30px rgba(54, 0, 255, 0.5);
}

/* Symbol set styling */
#symbol-set {
  max-width: 500px;
  margin: 50px auto;
}

.symbol {
  width: 80px;
  cursor: pointer;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto;
}

.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}


@media only screen and (max-width: 402px){
  .middle-row {
    margin-left: -30px;
    margin-right: -30px;
  }
  #help-menu {
    margin: 120px auto;
  }
}

@media only screen and (max-width: 440px){
  #background-overlay {
    border: none;
    border-radius: 0;
    top: 0;
    height: 100vh;
  }
  #back-arrow {
    margin-right: 60%;
  }
}

@media only screen and (min-width: 750px){
  #back-and-menu-icons {
    top: 325px;
  }
  #back-arrow {
    margin-right: 450px;
  }
  #background-overlay {
    width: 550px;
    height: 550px;
    margin: auto;
    border-radius: 100%;
  }
}