/* Global styles */

body {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: #fff;
  background-image: url("../images/sun.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #282c5b;
}

h1 {
  font-family: 'Bungee Inline', cursive;
  color: #ff00a8;
  text-shadow: 0 0 5px #3600ff, 0 0 1px #0012ff, 0 0 1px #001eff, 0 0 1px #1200ff;
}

.btn {
  border-radius: 5px;
  font-family: 'Bungee Inline', cursive;
  background-color: #211531;
  color: #ff00a8;
  text-shadow: 0 0 5px #3600ff, 0 0 1px #0012ff, 0 0 1px #001eff, 0 0 1px #1200ff;
  box-shadow: 0 0 50px #3600ff, 0 0 10px #0012ff, 0 0 10px #001eff, 0 0 10px #1200ff;
  font-size: 2em;
}

.btn:hover {
  background-color: #211531;
  color: #fff;
  box-shadow: 0 0 50px #3600ff, 0 0 10px #0012ff, 0 0 10px #001eff, 0 0 50px #1200ff;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-shadow-hover:hover {
  text-shadow: 0 0 50px #3600ff, 0 0 10px #0012ff, 0 0 10px #001eff, 0 0 10px #1200ff;
  cursor: pointer;
}

/* Game view */

.symbol-set {
  max-width: 500px;
  margin: 20px auto;
}

.symbol {
  width: 80px;
  cursor: pointer;
}

/* Temp styling for testing */

.highlight {
  background: black;
}

.top-row {
  display: flex;
  justify-content: center;
}

.middle-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px auto;
}

.bottom-row {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
