/* Global styles */

body {
    text-align: center;
    font-family: 'Audiowide', cursive;
    background-image: url("../images/sun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #282c5b;
}

h1 {
    font-family: 'Bungee Inline', cursive;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main menu */
.main-menu .vertical-wrapper .help-menu-link:hover {
    color: #FFF;
    cursor: pointer;
}

/* Game view */
.symbol {
    width: 80px;
}

